.main{
    background-color: rgb(27,93,99);
    color: white;
    padding: 5%;
    padding-top: 0;
}

.pagination li{
    background-color:darkcyan;
    color: white;
}

.bio{
    border-bottom: 0px ;
    border-top: 1px solid white;
}