.icon{
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;

}

.icon img{
    width: 60%;
}

.subj{
    color: rgb(28,78,117);
    padding-bottom: 0px;
}

.nopic{
    font-size: 80px;
}



@media (max-width: 768px) {
    .fr-view table {
        font-size: 10px;
    }
}