body {
    font-family: IRANSans,BYekan;
    max-width: 1600px;
    margin: auto;
}

@font-face {
    font-family:'BYekan';/*تعریف یک نام برای فونت*/
    src:url('../fonts/Yekan/Yekan.eot');/*اکسپلورر 9 به بعد*/
    src:local('bYekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
    local('b Yekan'),/*برای برخی از مرورگرها مانند سافاری*/
    url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
    url('../fonts/Yekan/Yekan.woff') format('woff'),/*مرورگر های جدید*/
    url('../fonts/Yekan/Yekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
    url('../fonts/Yekan/Yekan.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.woff') format('woff');  /* All Major Browsers */
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.grayColor{
    background-color : rgb(247,247,247);
}

.subj{
    color: rgb(27,93,99);
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}

.container{
    width: 80%;
    margin: 0 auto;
    /*height: 100%;*/
    padding: 50px 70px;
    /*position: relative;*/
    /*top: 100px;*/
    float: left;
    margin-left: 10%;
}

.main{
    /*margin-top: 125px;*/

    /*margin-bottom: 200px;*/
}
.footer{
    /*top: 125px;*/
}

.centeral{
    text-align: center;
}

.h2size,h2{
    font-size: 20px;
}
.h4size,h4{
    font-size: 14px;
}
.fontweitght900{
    font-weight: 900;
}
.h3size,h3{
    font-size: 18px;
}

.h5size ,h5{
    font-size: 14px;
}
h1{
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}

.footer{
    background-color: rgb(38,48,54);
    color: white;
    padding: 0;
    float: left;
}

.foot-box-par{
    padding-right: 10%;
}

.foot-box{
    height: 84px;
    border: 2px solid white;
    /*margin: 30px;*/
    margin-bottom: 50px;
    display: table-cell;
    vertical-align: middle;
}

.cls1{
    padding: 25px 10px;
}

.cls3{
    padding: 20px 15px;
}


.cls2 , .cls4{
    padding: 25px;
}


.foot-top-box{
    /*margin-top: 60px;*/
    margin-bottom: 20px;
}

.footer a{
    color: white;
}

.footer .icon{
    width: 50px;
    height: 50px;
}

.footCont{
    padding-bottom: 10px;
    width: 100%;
    margin: 0;
}

.telegram{
    display: table;
    margin: 0 auto;
}

.hr{
    border-bottom: 1px solid white ;
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
    float: left;

}

.footer input {
    background-color: rgb(38,48,54);
    margin: 5px 0px ;
    border: 1px solid white ;
}

.footerDown{
    background-color : #192226;
    padding: 10px;
    width: 100%;
}

.header{
    width: 100%;
    padding: 0;
    margin: 0 0 5px 0;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}
.header .cover_menu{
    background-color: rgba(255,255,255,0.6);

    position: relative;
    bottom:0;
}
.header .menu ul{
    margin: 0;
}
.header .menu li{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 15px;
    font-size: 18px;
    color: #1c4e75;
}
.header .menu a{
    padding:0;
    margin: 0;
}
.header img#logo{
    display: flex;
    width: 60px;
    justify-content: flex-end;
    margin-left: 40px;
}

.header .fixed{
    width: 100%;
    max-width: 1600px;
    box-shadow: 0 5px 8px #888888;
    position: fixed;
    z-index: 1000;
    top:0;
}

.header .karasa {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.header .karasa .title{
    font-size: 20px;
    margin: 4px 10px;
}
.header .side_menu{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(0,0,0,.6);
    z-index: 2000;
}
.header .side_menu_icon{
    margin:10px 20px 10px 0;
    font-size: 18px;
}
.header .side_menu .collapsed_menu{
    max-width:100%;
    width:260px;
    background-color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    overflow-y: scroll;
}
.header .side_menu .collapsed_menu ul li{
    list-style: none;
    color: #1c4e75;
    font-size: 16px;
    padding:10px 0;
}
.header .side_menu .collapsed_menu a:hover{
    background-color: silver;
}
.header .side_menu .collapsed_menu .top_menu{
    background-color: rgba(27,93,99,0.6);
    display: flex;
    align-items:center;
    color:#fff;
    margin-bottom: 30px;
    padding:10px 0 20px 0;
}
.header .side_menu .collapsed_menu .top_menu img{
    width:60px;
    margin:10px 10px 10px 20px;
}
.header .side_menu .collapsed_menu .top_menu h1{
    font-size:20px;
    font-weight: bold;
    margin:10px 0;
}
.dark_text {
    color: #1c4e75;
}
.tozih{
    padding:0 50px 30px 50px;
    text-align: justify;
}
.light_text{
    color: #fff;
}

.dark{
    background-color: rgb(27,93,99);
}
.headerfix{
    margin-bottom: 125px;
}


.hiddenme{
    display: block;
}
.showme{
    display: none;
}

/*tablet*/

@media (max-width: 1300px) {

    .cls2 , .cls4{
        padding: 26px 0px;
    }

}

@media (max-width: 1100px) {

    .tozih{
        padding:0 20px 30px 20px;
    }
    .cls1{
        padding: 20px 2px;
    }
    .cls3{
        padding: 20px 0px;
    }

    .cls2 , .cls4{
        padding: 28px 0px;
    }

}



@media (max-width: 1000px) {
    .foot-box{
        padding: 25px 0px;
    }
    .foot-box-par{
        padding-right: 0;
    }
}

/*mobile*/
@media (max-width: 992px) {
    .hiddenme{
        display: none;
    }
    .showme{
        display: block;
    }
    .headerfix{
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .tozih{
        padding:0 15px 20px 15px;
    }
    .footCont{
        margin-left: 0;
        margin-right: 0;
        padding: 20px 0;

    }
}