.opening_bars .item{
    width: 80%;
    margin: 15px auto;
}
.opening_bars .item .bar{
    position: relative;
    background-color:  #24646a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 10px 30px;
}

.bar .bar_arrow{
    position: absolute;
    left: 10px;
    top: auto;
}
.bar .bar_arrow:before{
    content: "\f078";
    font-family: FontAwesome;
}
.bar .bar_arrow.opened:before{
    content: "\f077";
    font-family: FontAwesome;
}

.bar_text{
    text-align: justify;
    padding:10px 20px 30px 20px;
}

.azmun .item{
    width: 100%;
}

/*tablet*/
@media (max-width: 900px) {
    .opening_bars .item .bar{
        padding-left: 10px;
    }
}
/*mobile*/
@media (max-width: 768px) {
    .opening_bars .item .bar{
        padding-left:15px;
    }
}
